#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #242424;
}

.topBlock {
  flex-direction: row;
}

label {
  font-family: sans-serif;
  font-size: 1rem;
  padding-right: 10px;
}

.inputContainer {
  margin: 16px 0px;
}

.buttonContainer {
  flex-direction: row;
}

.resultsBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  margin-top: 24px;
}

.resultItem {
  width: 200px;
  max-height: 450px;
  margin-right: 12px;
  margin-bottom: 12px;
  align-items: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.resultImage {
  width: 200px;
  height: 284px;
}
